.new_post_container {
  width: 100%;
  height: 100%;

  margin: 0px 0px 0px 0px;

  padding-right: 22%;
  padding-left: 22%;
  padding-top: 1%;

  background-color: #1ABC9C;

  overflow-x: hidden;
  overflow-y: auto;

  .post_content {
    margin-top: 1%;
  }

  p {
    color: white;
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }

  h3 {
    font-size: 2em;
  }
}

.display {
  background-color: #edeff1;
  border-radius: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
}
