<div class="new_post_container">
  <h3>Create New Post</h3>
  <input type="text" value="" placeholder="Title" class="form-control" [(ngModel)]="post_title">
  <textarea placeholder="Post Content" name="name" rows="15" cols="70" class="form-control post_content" [(ngModel)]="post_content" #ngModel></textarea>
  <p>Tips: You can use html element to insert medias in your post or make it fancier !</p>
  <a href="#" class="btn btn-block btn-lg btn-inverse" (click)="createPost()">Post</a>
  <h3>Post Preview</h3>
  <div [innerHTML]="post_content | youtube" class="post_conten display"></div>
</div>
