html {
  width: 100%;
  height: 100%;
}

.navbar-brand:hover {
  #it {
    color: white;
  }
}

#it {
  color: #1ABC9C;
  &:hover {
    color: white;
  }
}

.menu {
  background-color: #1ABC9C;

  display: flex;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  height: 10%;
  width: 100%;
}

.login-screen {
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  display: flex;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  align-items: center;
}

.main {
  display: flex;
}

.window {
  display: block;

  width: 100%;
  height: 90%;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  background-color: yellow;
  //background-color: #1ABC9C;
}

.disconnect {
  width: 2em;
  height: 100%;
  padding-left: 13%;
  color: white;
  font-size: 1.4em;
}
