<div *ngIf="id <= 0" class="login-screen">
  <app-portal (UserId) = "getId($event)"></app-portal>
</div>

<div class="menu" *ngIf="id >= 0">
  <div class="col">
          <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="#">Share <span id="it">IT</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
              <ul class="nav navbar-nav mr-auto">
                <li><a href="#" (click)="showPostWindow()" onselectstart="return false">Read Posts</a></li>
                <li><a href="#" (click)="showFriendWindow()" onselectstart="return false">Contacts</a></li>
                <li><a href="#" (click)="showUserWindow()" onselectstart="return false">Profile</a></li>
                <li><a href="#" (click)="showNewPostWindow()" onselectstart="return false">New Post</a></li>
               </ul>
               <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Search Post" [(ngModel)]="search" name="searchbar">
                    <span class="input-group-btn">
                      <button type="submit" class="btn" (click)="onSearch()"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
                <div class="disconnect"><a href="#" class="fui-exit" (click)="hideAll()"></a></div>
              </form>
            </div><!-- /.navbar-collapse -->
          </nav><!-- /navbar -->
        </div>
</div>

<div *ngIf="userWindow" class="window">
  <app-user id="{{ id }}"></app-user>
</div>

<div *ngIf="friendsWindow" class="window">
  <app-friends id="{{ id }}"></app-friends>
</div>

<div *ngIf="postWindow" class="window">
  <app-list-post id="{{ id }}" select="{{ search }}"></app-list-post>
</div>

<div *ngIf="newPostWindow" class="window">
  <app-post id="{{ id }}" (onClose)="showPostWindow()"></app-post>
</div>

<router-outlet></router-outlet>
