.detailed_post_container {
  width: 100%;
  height: 100%;
  background-color: #ECF0F1;

  padding-left: 25%;
  padding-right: 25%;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;

  h3 {
    padding: 1% 0% 0.7% 0%;
    margin: 1% 0% 0% 0%;
    font-size: 1.8em;

    text-align: center;
  }

  p {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    align-self: flex-end;
  }

  .content_ {
    text-align: justify;
    margin-top: 3%;
  }


}

.comment_section {
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    font-size: 1em;

    .id {
      color: #1ABC9C;
      font-size: 0.9em;
    }
  }

  a {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .comment {
    width: 100%;
    background-color: white;
    border-radius: 6px;

    border: 0.15em solid #BDC3C7;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    margin-bottom: 1.5%;

    p {
      max-width: 100%;
      align-self: flex-start;
      font-size: 1em;
      padding-left: 4%;
      padding-right: 4%;
      text-align: justify;
      text-indent: 2em;
      white-space:normal;
      word-wrap: break-word;
    }

    a {
      width: 30%;
      align-self: flex-end;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: 3%;
      padding-top: 1%;
      padding-bottom: 1%;
    }

    .reply {
      align-self: flex-end;
      width: 98%;
      padding-top: 0%;


      .comment {
        border-radius: 0px;
        border: 0px;
        border-left: 0.15em solid #BDC3C7;
      }
    }

    .identity {
      display: flex;
      height: 10%;
      align-items: center;

      h4 {
        font-size: 1.5em;

        .id {
          color: #1ABC9C;
          font-size: 0.5em;
        }
      }

      img {
        height: 2.3em;
        width: 2.3em;
        border-radius: 100%;
        background-color:#BDC3C7;

        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }
}
