<div class="detailed_post_container">
  <h3>{{ post.name }}</h3>
  <div [innerHTML]="post.content | youtube" class="content_"></div>
  <p>Written by {{ author.name }}, {{ post.elapsed }} ago</p>

  <div class="comment_section">
    <h4 id="comment_area">Comment Section</h4>
    <p *ngIf="answer != null">Replying to comment : {{ answer.userName }}<span class="id">#{{ answer.id }}</span> </p>
    <textarea  placeholder="Type your comment here !" name="name" rows="5" cols="80" class="form-control edit_comment" [(ngModel)]="comment_content" #ngModel></textarea>

    <a href="#" class="btn btn-block btn-lg btn-primary" (click)="postComment()" *ngIf="answer == null">Post</a>
    <a href="#" class="btn btn-block btn-lg btn-primary" (click)="replyToComment()" *ngIf="answer != null">Reply</a>

    <ng-template #recursiveList let-list>
      <div class="comment" *ngFor="let comment of list">
        <div class="identity">
          <img src="{{ comment.userAvatar }}" alt="avatar">
          <h4>{{ comment.userName }}<span class="id">#{{ comment.id }}</span></h4>
        </div>
        <p> {{ comment.content }} </p>
        <a href="#comment_area" class="btn btn-block btn-lg btn-primary" (click)="answer = comment">Reply</a>

        <div class="reply" *ngIf="comment.replies != null && comment.replies.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comment.replies }"></ng-container>
        </div>

      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comments }"></ng-container>

  </div>
</div>
