
.friend_container {
  background-color: #1ABC9C;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-friends {
    display: flex;
    flex-direction: row;

    width: 60%;
    max-height: 12%;

    background-color: #edeff1;
    border-radius: 6px;

    padding-top: 1.7%;
    padding-bottom: 0.7%;


    h4 {
      color: #34495E;
      font-size: 1em;
      white-space: nowrap;
      padding-left: 1%;
      align-self: center;
    }

    input {
      max-width: 100%;
      min-height: 100%;
      margin-left: 2%;
      margin-bottom: 2%;

    }

    a {
      align-self: center;
      max-width: 25%;
      margin-left: 2%;
      margin-right: 2%;
      max-height: 100%;
    }
  }

  .display-friends {
    background-color: #1ABC9C;
    width: 90%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

    overflow-y: auto;
    overflow-x: hidden;

    .friend_bubble {
      display: flex;
      flex-direction: column;

      width: 20%;

      background-color: #edeff1;
      border-radius: 6px;

      padding-top: 0.7%;
      padding-bottom: 0.7%;

      margin-right: 2%;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 2%;

      .name {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-left: 3%;
          height: 3.2em;
          width: 3.2em;
          border-radius: 100%;
          background-color: #BDC3C7;
        }

        h3 {
          margin-left: 5%;
          font-size: 1.5em;
        }
      }

      a {
        text-align: center;
        font-size: 0.8em;
      }
    }

  }
}

.friend_details {
  position: absolute;
  width: 50%;
  max-height: 80%;
  left: 25%;
  top: 15%;
  background-color: #edeff1;
  border-radius: 6px;

  padding-top: 0.7%;
  padding-bottom: 0.7%;

  border: 0.2em solid #34495E;

  .name_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    img {
      height: 4.5em;
      width: 4.5em;
      border-radius: 100%;
      background-color: #BDC3C7;

      margin-left: 2%;
      margin-top: 2%;
    }

    h3 {
      margin-left: 2%;
    }
  }

  p {
    background-color: white;
    border-radius: 6px;

    margin: 3% 3% 3% 3%;
    padding: 0.7% 0.7% 0.7% 0.7%;

    overflow-x: hidden;
    overflow-y: auto;

    max-height: 20em;
  }

  a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 40%;
    min-height: 2em;
    align-self: flex-start;
    margin-left: 3%;
    margin-right: 3%;
  }

  .close_w {
    margin-left: 20%;
  }
}
