<div class="friend_container">

  <div class="add-friends">
    <h4>Add Contact : </h4>
    <input type="text" value="" placeholder="Name" class="form-control" [(ngModel)]="friendName">
    <a href="#fakelink" class="btn btn-block btn-lg btn-primary" (click)="addFriend()">Add</a>
  </div>

  <div class="display-friends">
    <div class="friend_bubble" *ngFor="let friend of friends">
      <div class="name">
        <img src="{{ friend.avatar }}" alt="no avatar" onerror="if (this.src != '/assets/error.png') this.src = '/assets/error.png';">
        <h3>{{ friend.name }}</h3>
      </div>
      <a href="#" (click)="showDetails(friend.id)">Detailed view</a>
    </div>
  </div>
</div>

<div class="friend_details" *ngIf="view_num >= 0">
  <div class="name_">
    <img class="avtr" src="{{ friends[view_num].avatar }}" alt="no avatar" onerror="if (this.src != '/assets/error.png') this.src = '/assets/error.png';">
    <h3>{{ friends[view_num].name }}</h3>
  </div>
  <p *ngIf="friends[view_num].description.length > 1">{{ friends[view_num].description }}</p>
  <p *ngIf="friends[view_num].description.length <= 1">No description available for user {{ friends[view_num].name  }}</p>

  <div class="name_">
    <a href="#fakelink" class="btn btn-block btn-lg btn-danger" (click)="deleteFriend(view_num)">Delete Friend</a>
    <a href="#fakelink" class="btn btn-block btn-lg btn-primary close_w" (click)="showDetails(-1)">Close Window</a>
  </div>
</div>
