.user-container {
  width: 100%;
  height: 100%;

  margin: 0px 0px 0px 0px;

  display: flex;
  flex-direction: row;
  }

  .left-container {
    width: 50%;
  }

  .left-container, .right-container {

    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    background-color: #1ABC9C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .login-form {
      width: 65%;

      h3 {
        font-size: 100%;
        padding: 0px 0px 2% 0px;
        margin: 0px 0px 0px 0px;
      }

      .error_msg {
        color: red;
        font-size: 0.8em;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
      }
    }

}

.right-container {
  width: 70%;
  .login-form {
    margin-right: 20%;
    margin-left: 20%;
    max-height: 70%;
    min-height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    h3 {
      font-size: 100%;
      padding: 0px 0px 2% 0px;
      margin: 0px 0px 0px 0px;
    }
  }

  textarea {
    height: 100%;
    margin-bottom: 5%;
  }

}
