<div class="user-container">
  <div class="left-container">
    <div class="login-form">
      <h3>Change User Name</h3>
      <div class="form-group">
        <input type="text" class="form-control login-field" value="admin" placeholder="User Name" id="login-name" [(ngModel)]="name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>
      <a class="error_msg" *ngIf="error_message.length > 0"> {{ error_message }} </a>
      <a class="btn btn-primary btn-lg btn-block" (click)="updateName()">Update</a>
    </div>

    <div class="login-form">
      <h3>Change Password</h3>
      <div class="form-group">
        <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" [(ngModel)]="password">
        <label class="login-field-icon fui-lock" for="login-pass" ></label>
      </div>
      <a class="btn btn-primary btn-lg btn-block" (click)="updatePassword()">Update</a>
    </div>


    <div class="login-form">
      <h3>Change Avatar URL</h3>
      <div class="form-group">
        <input type="text" class="form-control login-field" value="" placeholder="Password" id="login-pass" [(ngModel)]="avatar">
        <label class="login-field-icon fui-user" for="login-pass"></label>
      </div>
      <a class="btn btn-primary btn-lg btn-block" (click)="updateAvatar()">Update</a>
    </div>
  </div>

  <div class="right-container">
    <div class="login-form">
      <h3>Change Description</h3>
        <textarea type="text" class="form-control login-field" value="" placeholder="Description" id="login-pass" [(ngModel)]="description" #ngModel></textarea>
      <a class="btn btn-primary btn-lg btn-block" (click)="updateDescription()">Update</a>
    </div>
  </div>
</div>
