<div class="list_post_container" *ngIf="showPost == null">
  <div class="overview" *ngFor="let post of posts">
    <a href="#" (click)="showPost = post.id"><h3>Title : {{ post.name }}</h3></a>
    <p>Posted by {{ post.userName}}, {{ post.elapsed }} ago</p>
  </div>
</div>

<div class="det_post" *ngIf="showPost != null">
  <app-detailed-post postId="{{ showPost }}" userId="{{ id }}"></app-detailed-post>
  <span class="fui-cross-circle close" (click)="showPost = null"></span>
</div>
