.list_post_container {
  width: 100%;
  height: 100%;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  background-color: #1ABC9C;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;

  align-items: center;

  .overview {
    display: flex;
    flex-direction: column;

    width: 60%;

    background-color: #edeff1;
    border-radius: 6px;

    padding: 0.7% 0.7% 0% 0.7%;

    margin: 2% 2% 2% 2%;

    h3 {
      padding: 1% 0% 0.7% 0%;
      margin: 0px 0px 0px 0px;
      font-size: 1.8em;

    }

    p {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;

      align-self: flex-end;
    }
  }
}

.det_post {
  width: 100%;
  height: 100%;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  //background-color: #1ABC9C;
  background-color: yellow;

  .close {
    font-size: 3em;
    position: fixed;
    top: 15%;
    right: 5%;
  }
}
