.error-message {
  font-size: 0.8em;
  color: red;
}

.login-screen {
  min-width: 70%;
  padding-right: 0%;
  padding-left: 0%;
}

.login-icons {
  width: 27%;

  align-self:center;
  text-align: center;

  margin-top: 5%;
  margin-right: 5%;

  img {
    min-width: 80%;

  }

  label {
    text-align: center;
  }
}

.container {
  width: 80%;
  margin-right: 15%;
  margin-left: 15%;

  padding-right: 0px;
  padding-left: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

html {
  height: 100%;
}

.login-link {
  color: #1abc9c;
}
