<div class="container">
  <div class="login-icons">
    <img src="../../assets/logo.png" alt="Welcome to Mail App">
    <h4>Share <small>IT</small></h4>
  </div>
  <div class="login-screen" *ngIf="createAccount_ == false">
    <div class="login-form">
      <div class="form-group">
        <input type="text" class="form-control login-field" value="admin" placeholder="User Name" id="login-name" [(ngModel)]="name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group">
        <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" [(ngModel)]="passwd">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <a class="btn btn-primary btn-lg btn-block" (click)="connect()">Log in</a>
      <p *ngIf="errorMessage !='' " class="error-message">{{ errorMessage }} </p>
      <a class="login-link" (click)="setCreateAccount(true)">Create Account</a>
    </div>
  </div>

  <div class="login-screen" *ngIf="createAccount_ == true">
    <div class="login-form">
      <div class="form-group">
        <input type="text" class="form-control login-field" value="" placeholder="User Name" id="login-name" [(ngModel)]="name">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="form-group">
        <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" [(ngModel)]="passwd">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control login-field" value="" placeholder="Avatar Http URL (Optional)" id="login-name" [(ngModel)]="avatar">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <a class="btn btn-primary btn-lg btn-block" (click)="createAccount()">Create Account</a>
      <p *ngIf="errorMessage !='' " class="error-message">{{ errorMessage }} </p>
      <a class="login-link" (click)="setCreateAccount(false)">Return to Log in screen</a>
    </div>
  </div>
</div>
